.page {
  height: 100%;
  padding-bottom: calc(98px + env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .content {
    flex: 1 0 0%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}